.ingridient {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  justify-content: space-between;
}

.ingridient__control {
  display: flex;
  align-items: center;
  grid-gap: 20px;
}
