.container {
  min-width: 90vw;
  margin: 0 auto;
}

.cards {
  display: grid;
  margin: 50px 0;
  grid-gap: 50px;
  grid-template-columns: repeat(5, 200px);
  justify-content: center;
  /* grid-template-rows: repeat(); */
}

.card-footer { 
  text-align: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px;
}

.button {
  padding: 20px;
  justify-content: space-between;
}
